@{
    ViewBag.Title = "toolhilt_info";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap">
    <div class="col-xs-6 lr-form-item"  data-table="tb_toolhilt_info" >
        <div class="lr-form-item-title">刀柄名称<font face="宋体">*</font></div>
        <div id="toolHilt_name" isvalid="yes" checkexpession="NotNull" ></div>
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_toolhilt_info" >
        <div class="lr-form-item-title">刀柄码<font face="宋体">*</font></div>
        <input id="toolHilt_id" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_toolhilt_info" >
        <div class="lr-form-item-title">RFID</div>
        <input id="rfid" type="text" class="form-control"  />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_toolhilt_info" >
        <div class="lr-form-item-title">刀柄类型</div>
        <div id="toolblade_type"  ></div>
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_toolhilt_info" >
        <div class="lr-form-item-title">厂家</div>
        <div id="tool_cj"  ></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_LGManager/Views/toolhilt_info/Form.js")
