@{
    ViewBag.Title = "小时计划产量维护";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap">
    <div class="col-xs-12 lr-form-item" style="padding:0;line-height:38px;text-align:center;font-size:20px;font-weight:bold;color:#333;" >
        <span></span>
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">0点</div>
        <input id="plan00" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">1点</div>
        <input id="plan01" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">2点</div>
        <input id="plan02" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">3点</div>
        <input id="plan03" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">4点</div>
        <input id="plan04" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">5点</div>
        <input id="plan05" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">6点</div>
        <input id="plan06" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">7点</div>
        <input id="plan07" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">8点</div>
        <input id="plan08" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">9点</div>
        <input id="plan09" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">10点</div>
        <input id="plan10" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">11点</div>
        <input id="plan11" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">12点</div>
        <input id="plan12" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">13点</div>
        <input id="plan13" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">14点</div>
        <input id="plan14" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">15点</div>
        <input id="plan15" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">16点</div>
        <input id="plan16" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">17点</div>
        <input id="plan17" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">18点</div>
        <input id="plan18" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">19点</div>
        <input id="plan19" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">20点</div>
        <textarea id="plan20" class="form-control" style="height:30px;"  ></textarea>
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">21点</div>
        <textarea id="plan21" class="form-control" style="height:30px;"  ></textarea>
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">22点</div>
        <textarea id="plan22" class="form-control" style="height:30px;"  ></textarea>
    </div>
    <div class="col-xs-3 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">23点</div>
        <textarea id="plan23" class="form-control" style="height:30px;"  ></textarea>
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="tb_plan_detail_data" >
        <div class="lr-form-item-title">日期</div>
        <input id="read_time" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#read_time').trigger('change'); } })" isvalid="yes" checkexpession="NotNull" />
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_LGManager/Views/Plan_HourData/Form.js")
