@{
    ViewBag.Title = "设备维护保养";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap">
    <div class="col-xs-6 lr-form-item"  data-table="tb_plan_cycle_data" >
        <div class="lr-form-item-title">设备类型<font face="宋体">*</font></div>
        <div id="category_id" isvalid="yes" checkexpession="NotNull" ></div>
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_plan_cycle_data" >
        <div class="lr-form-item-title">保养类型<font face="宋体">*</font></div>
        <div id="maintenance_id" isvalid="yes" checkexpession="NotNull" ></div>
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_plan_cycle_data" >
        <div class="lr-form-item-title">计划名称<font face="宋体">*</font></div>
        <input id="plan_maintain_name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_plan_cycle_data" >
        <div class="lr-form-item-title">执行人<font face="宋体">*</font></div>
        <input id="executor" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_plan_cycle_data" >
        <div class="lr-form-item-title">周期<font face="宋体">*</font></div>
        <input id="cycle" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_plan_cycle_data" >
        <div class="lr-form-item-title">周期单位<font face="宋体">*</font></div>
        <div id="cycle_unit" isvalid="yes" checkexpession="NotNull" ></div>
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_plan_cycle_data" >
        <div class="lr-form-item-title">开始日期<font face="宋体">*</font></div>
        <input id="begin_date" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#begin_date').trigger('change'); } })"  isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_plan_cycle_data" >
        <div class="lr-form-item-title">结束日期<font face="宋体">*</font></div>
        <input id="end_date" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#end_date').trigger('change'); } })"  isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-6 lr-form-item"  data-table="tb_plan_cycle_data" >
        <div class="lr-form-item-title">创建日期<font face="宋体">*</font></div>
        <input id="create_time" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#create_time').trigger('change'); } })"  isvalid="yes" checkexpession="NotNull" />
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_LGManager/Views/maintain/Form.js")
