@{
    ViewBag.Title = "设备分组维护";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap">
    <div class="col-xs-12 lr-form-item" style="padding:0;line-height:38px;text-align:center;font-size:20px;font-weight:bold;color:#333;" >
        <span></span>
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="tb_macgroup_info" >
        <div class="lr-form-item-title">设备组编号<font face="宋体">*</font></div>
        <input id="group_id" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="tb_macgroup_info" >
        <div class="lr-form-item-title">设备组名称<font face="宋体">*</font></div>
        <input id="group_name" type="text" class="form-control" isvalid="yes" checkexpession="EnglishStr" />
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="tb_macgroup_info" >
        <div class="lr-form-item-title">show_numt<font face="宋体">*</font></div>
        <div id="show_numt" isvalid="yes" checkexpession="NotNull" ></div>
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="tb_macgroup_info" >
        <div class="lr-form-item-title">show_numv<font face="宋体">*</font></div>
        <div id="show_numv" isvalid="yes" checkexpession="NotNull" ></div>
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="tb_macgroup_info" >
        <div class="lr-form-item-title">gis_visual<font face="宋体">*</font></div>
        <div id="gis_visual" isvalid="yes" checkexpession="NotNull" ></div>
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="tb_macgroup_info" >
        <div class="lr-form-item-title">enabled</div>
        <div id="enabled"></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_LGManager/Views/macgroup/Form.js")
