
@{
    Layout = "~/Views/Shared/_xbfb.cshtml";
    ViewBag.Title = "IndexALine";
}
<div style="margin-top:20px;margin-left:400px;color:#ffffff;font-size:44px"><b>陕西汉德-轮边B自动生产线</b> </div>
<div style="margin-top:-50px;margin-left:1120px;color:#ffffff;font-size:20px;width:150px;text-align:center">
    <p id="fulltime"></p>
</div>
<div class="zzt ">
    <img src="~/Areas/Visual/Images/A519.png" height="370" width="900" style="transform:rotate(-0deg)">
</div>
<div class="jnrs ">
    <img src="~/Areas/Visual/Images/jnrs.png" height="60" width="150">
</div>
<div style="position:absolute;left:1130px;top:770px;font-size:14px;font-family:songti;color:#ff6a00;z-index:2">
    <b>宁夏巨能机器人股份有限公司</b>
</div>
<div style="position:absolute;left:105px;top:95px;font-size:14px;font-family:songti;color:#ffffff;z-index:2">
    <b>陕西汉德车桥有限公司</b>
</div>
<div class="logo ">
    <img src="~/Areas/Visual/Images/logo.png" height="60" width="170">
</div>
<div class="dise">
    <img src="~/Areas/Visual/Images/dise.png" height="38" width="170">
</div>

<div class="Robot-1" hidden="hidden">
    <img id="Robot-1-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl1 ">
        <img src="~/Areas/Visual/Images/cl1.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:60px;left:0px;top:-70px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>Robot-1</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="Robot-1-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="OP50-3">
    <img id="OP10-AB-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl1 ">
        <img src="~/Areas/Visual/Images/cl1.png" height="100" width="80">
    </div>
    <div style="position:absolute;width:60px;left:5px;top:-70px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP50-3</b>
        <br><br>
            <div hidden="hidden">
                <b style="color:#FFFFB9">当天产量</b>
                <br>
                <b id="OP10-AB-P" style="color:#FFFFB9">0个</b>
            </div>
    </div>
</div>
<div class="OP50-2">
    <img id="OP20-A-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl1 ">
        <img src="~/Areas/Visual/Images/cl1.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:50px;left:5px;top:-70px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP50-2</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP20-A-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="OP50-1">
    <img id="OP20-B-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl1 ">
        <img src="~/Areas/Visual/Images/cl1.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:55px;left:5px;top:-70px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP50-1</b>
        <br>
        <br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP20-B-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="OP30-1">
    <img id="OP30-A-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl1 ">
        <img src="~/Areas/Visual/Images/cl1.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:50px;left:5px;top:-70px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP30-1</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP30-A-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="OP20-1">
    <img id="OP30-B-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl1 ">
        <img src="~/Areas/Visual/Images/cl1.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:50px;left:5px;top:-70px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP20-1</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP30-B-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="OP10-2">
    <img id="OP40-A-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl1 ">
        <img src="~/Areas/Visual/Images/cl1.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:50px;left:5px;top:-70px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP10-2</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP40-A-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="OP10-1">
    <img id="OP40-B-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl1 ">
        <img src="~/Areas/Visual/Images/cl1.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:50px;left:5px;top:-70px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP10-1</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP40-B-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>

<div class="OP50-5">
    <img id="OP20-C-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl ">
        <img src="~/Areas/Visual/Images/cl.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:60px;left:-25px;top:40px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP50-5</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP20-C-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="OP50-4">
    <img id="OP20-D-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl ">
        <img src="~/Areas/Visual/Images/cl.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:60px;left:-25px;top:40px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP50-4</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP20-D-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="OP30-2">
    <img id="OP30-C-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl ">
        <img src="~/Areas/Visual/Images/cl.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:60px;left:-25px;top:40px;font-size:13px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP30-2</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP30-C-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="OP20-2">
    <img id="OP30-D-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl ">
        <img src="~/Areas/Visual/Images/cl.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:60px;left:-25px;top:40px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP20-2</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP30-D-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="OP10-4">
    <img id="OP40-C-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl ">
        <img src="~/Areas/Visual/Images/cl.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:60px;left:-25px;top:40px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP10-4</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP40-C-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="OP10-3">
    <img id="OP40-D-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl ">
        <img src="~/Areas/Visual/Images/cl.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:60px;left:-25px;top:40px;font-size:12px;font-family:songti;color:#00ffff;z-index:2">
        <b>OP10-3</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="OP40-D-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="Robot-2" hidden="hidden">
    <img id="Robot-2-1" src="~/Areas/Visual/Images/run.png" height="30" width="30">
    <div class="cl ">
        <img src="~/Areas/Visual/Images/cl.png" height="100" width="70">
    </div>
    <div style="position:absolute;width:60px;left:-25px;top:40px;font-size:10px;font-family:songti;color:#00ffff;z-index:2">
        <b>Robot-2</b>
        <br><br>
        <div hidden="hidden">
            <b style="color:#FFFFB9">当天产量</b>
            <br>
            <b id="Robot-2-P" style="color:#FFFFB9;text-align:center">0个</b>
        </div>
    </div>
</div>
<div class="run">
    <img src="~/Areas/Visual/Images/run.png" height="40" width="40">
    <div style="position:absolute;width:50px;left:52px;top:9px;font-size:18px;font-family:songti;color:#FFFFFF;z-index:2">
        <b>运行</b>
    </div>
</div>
<div class="alarm">
    <img src="~/Areas/Visual/Images/alarm.png" height="40" width="40">
    <div style="position:absolute;width:50px;left:52px;top:9px;font-size:18px;font-family:songti;color:#FFFFFF;z-index:2">
        <b>报警</b>
    </div>
</div>
<div class="pause">
    <img src="~/Areas/Visual/Images/pause.png" height="40" width="40">
    <div style="position:absolute;width:50px;left:52px;top:9px;font-size:18px;font-family:songti;color:#FFFFFF;z-index:2">
        <b>暂停</b>
    </div>
</div>
<div class="ready">
    <img src="~/Areas/Visual/Images/ready.png" height="40" width="40">
    <div style="position:absolute;width:50px;left:52px;top:9px;font-size:18px;font-family:songti;color:#FFFFFF;z-index:2">
        <b>空闲</b>
    </div>
</div>
<div class="stop">
    <img src="~/Areas/Visual/Images/stop.png" height="40" width="40">
    <div style="position:absolute;width:50px;left:52px;top:9px;font-size:18px;font-family:songti;color:#FFFFFF;z-index:2">
        <b>停机</b>
    </div>
</div>
<div style="position:absolute;width:300px;left:90px;top:240px;font-size:23px;font-family:songti;color:#ffffff">
    <b></b>
    <b style="width:80px;font-family:songti;font-size:23px;color:#ff6a00">轮边B自动生产线</b>
</div>
<div style="position:absolute;width:230px;left:90px;top:305px;font-size:20px;font-family:songti;color:#ffffff;text-align: justify;
text-align-last: justify">
    <b>计划产量/日：</b>
    <b id="PPN" style="width:80px;font-family:songti;font-size: 18px;color:#ff6a00">1000件</b>
</div>
<div style="position:absolute;width:230px;left:90px;top:340px;font-size:20px;font-family:songti;color:#ffffff;text-align: justify;
text-align-last: justify">
    <b>实际产量/日：</b>
    <b id="pd" style="width:80px;font-family:songti;font-size:18px;color:#ff6a00">800件</b>
</div>
<div style="position:absolute;width:230px;left:90px;top:375px;font-size:20px;font-family:songti;color:#ffffff;text-align: justify;
text-align-last: justify">
    <b>剩余产量/日：</b>
    <b id="WP" style="width:80px;font-family:songti;font-size:18px;color:#ff6a00">200件</b>
</div>
<div style="position:absolute;width:230px;left:90px;top:410px;font-size:20px;font-family:songti;color:#ffffff;text-align: justify;
text-align-last: justify">
    <b>加工达成率:  </b>
    <b id="pr" style="width:80px;font-family:songti;font-size:19px;color:#ff6a00">80%</b>
</div>
<div style="position:absolute;width:230px;left:90px;top:445px;font-size:20px;font-family:songti;color:#ffffff">
    <b>累计产量/周：</b>
    <b id="week" style="width:80px;font-family:songti;font-size: 18px;color:#ff6a00">7000件</b>
</div>
<div style="position:absolute;width:230px;left:90px;top:480px;font-size:20px;font-family:songti;color:#ffffff">
    <b>累计产量/月：</b>
    <b id="month" style="width:80px;font-family:songti;font-size: 18px;color:#ff6a00">30000件</b>
</div>
<div style="position:absolute;width:230px;left:90px;top:515px;font-size:20px;font-family:songti;color:#ffffff">
    <b>累计产量/年：</b>
    <b id="year" style="width:80px;font-family:songti;font-size:18px;color:#ff6a00">365000件</b>
</div>


<div class="Footer" style="font-size:16px;color:#FFFFFF">
    Copyright &copy
    <script language=Javascript>
        var now = new Date()
        document.write(now.getFullYear())
    </script>
    JNRS
</div>

<script language="JavaScript">
    function myrefresh() {
        // window.location.reload();
        location.reload(true);
    }
    setTimeout('myrefresh()', 1000 * 600); //指定600秒刷新一次
</script>
<script type="text/javascript" src="~/Content/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Areas/Visual/Scripts/matrix.alineboard.js"></script>

